.rowArea {
    height: 100%;
}

.center {
    text-align: center;
}

.btn-toolbar {
    justify-content: space-evenly;
}

.jumbotron {
    text-align: center;
}

.navbar-nav {
    border: 1px solid gray;
    border-radius: 5px;
    justify-content: space-evenly;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.projectItem {
    text-align: center;
    border: 1px solid gray;
    margin: 1%;
    min-height: 150px;
}

#projectArea {
    margin: 1%;
}

.container {
    margin-bottom: 10%;
    margin-top: 10%;
}